# *.xml
*.lock
*.dat
*.version
*.index
*.tree
*.resources
scripts/.metadata/
.metadata/

# ignore eclipse debris
.settings/
.project
.Rapp*
.metadata/

*.class

# Package Files #
*.jar
*.war
*.ear

# eclipse debris #
# .classpath
# .project
.settings/
.metadata/
.classpath

# misc build artifacts #
target/

*.classpath
*.classpath
.classpath
.classpath
.project
